* {
  font-family: roboto; }

.col1 {
  color: #34757d; }

.bg-col1 {
  background-color: #34757d; }

.bg-col2 {
  background-color: #0d575d; }

.no-border {
  border: none; }

.no-focus:focus {
  outline: none; }

.full-height {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden; }

.phantom-modal-content h2 {
  font-family: 'roboto thin'; }

.classy {
  border: none;
  border-bottom: 1px solid #888;
  padding: 8px;
  margin: 16px 0px; }

.scroller {
  overflow-y: scroll; }

.active {
  background: white;
  color: #0d575d; }

#sidebar {
  overflow-y: auto; }
  #sidebar ul {
    padding-left: 0px; }
  #sidebar li {
    padding: 8px 0px 8px 40px; }
    #sidebar li:hover:not(.active) {
      background: #0d575d;
      transition: 0.4s;
      cursor: pointer; }

#mainbar {
  overflow-y: scroll; }
  #mainbar header {
    box-shadow: 1px 1px 1px #ccc; }

#sidebar::-webkit-scrollbar {
  width: 0px; }

#sidebar:hover::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  width: 8px; }

#sidebar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

#mainbar::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  width: 8px; }

#mainbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

.hide {
  display: none; }

.modal {
  position: fixed;
  display: flex;
  z-index: 999;
  align-items: flex-start;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7); }

.modal-content {
  position: relative;
  background-color: white; }
  .modal-content .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    font-size: 1.5em; }
    .modal-content .close:hover {
      color: teal;
      cursor: pointer; }

.hide {
  display: none; }

#cards .card {
  width: 33%;
  padding: 8px 16px;
  margin: 8px 16px; }
  #cards .card.low {
    border: 2px solid #ff524a;
    border-top: 6px solid #ff524a; }
  #cards .card.mid {
    border: 2px solid #ffd23e;
    border-top: 6px solid #ffd23e; }
  #cards .card.high {
    border: 2px solid #228060;
    border-top: 6px solid #228060; }
  #cards .card > div {
    padding: 16px 8px;
    margin: 16px 0px;
    box-shadow: 1px 1px 3px #888; }
    #cards .card > div:hover {
      cursor: pointer;
      box-shadow: 3px 3px 3px #888; }
    #cards .card > div > div {
      font-size: 0.75em;
      font-weight: bolder; }

.checker {
  border: 1px solid black;
  border-radius: 2px;
  padding: 4px 8px;
  cursor: pointer; }
  .checker input[type=radio] {
    display: none; }
  .checker.selected {
    border: none;
    box-shadow: 3px 3px 3px inset #000;
    background: teal;
    color: white; }

#chatscreen .chatMessage {
  background: teal;
  color: white;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  max-width: 60%;
  position: relative; }
  #chatscreen .chatMessage.left {
    margin-right: auto;
    margin-left: 10px; }
    #chatscreen .chatMessage.left:before {
      position: absolute;
      top: 0;
      left: -10px;
      content: " ";
      height: 0;
      width: 0;
      border-right: 5px solid teal;
      border-left: 5px solid transparent;
      border-top: 5px solid teal;
      border-bottom: 5px solid transparent; }
  #chatscreen .chatMessage.right {
    margin-left: auto;
    margin-right: 10px; }
    #chatscreen .chatMessage.right:before {
      position: absolute;
      top: 0;
      right: -10px;
      content: " ";
      height: 0;
      width: 0;
      border-top: 5px solid teal;
      border-left: 5px solid teal;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent; }

#chatscreen .chatInputWrapper {
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: row; }
  #chatscreen .chatInputWrapper textarea {
    border: none;
    width: 100%; }
    #chatscreen .chatInputWrapper textarea:focus {
      outline: none; }
  #chatscreen .chatInputWrapper button {
    background: white;
    border: 1px solid #888888;
    padding: 8px;
    margin: 8px;
    cursor: pointer; }
