@import includes/_basic
@import includes/_classes

.scroller
  overflow-y: scroll


.active
  background:  white
  color:  #0d575d

#sidebar
  overflow-y: auto
  ul
    padding-left: 0px
  li
    padding: 8px 0px 8px 40px

    &:hover:not(.active)
      background:  #0d575d
      transition:  0.4s
      cursor:  pointer

#mainbar
  overflow-y: scroll
  header
    box-shadow: 1px 1px 1px #ccc

@import includes/_misc
@import includes/_modal

.hide
  display: none

#cards
  //height: 80%
  .card
    width: 33%
    padding: 8px 16px
    margin: 8px 16px
    //box-shadow: 3px 3px 3px #888

    &.low
      border: 2px solid #ff524a
      border-top: 6px solid #ff524a


    &.mid
      border: 2px solid #ffd23e
      border-top: 6px solid #ffd23e


    &.high
      border: 2px solid #228060
      border-top: 6px solid #228060


    > div
      //border-bottom: 1px solid #888
      padding: 16px 8px
      margin: 16px 0px
      box-shadow: 1px 1px 3px #888

      &:hover
        cursor: pointer
        box-shadow: 3px 3px 3px #888

      > div
        font-size: 0.75em
        font-weight: bolder

.checker
  border: 1px solid black
  border-radius: 2px
  padding: 4px 8px
  cursor: pointer

  input[type=radio]
    display: none
  &.selected
    border: none
    box-shadow: 3px 3px 3px inset #000
    background: teal
    color: white

.invisible
  //visibility: hidden

#chatscreen
  $color: teal
  .chatMessage
    background: $color
    color: white
    display: inline-block
    padding: 5px
    margin: 5px
    max-width: 60%
    //word-break: break-all
    //align-self: right
    position: relative

    &.left
      margin-right: auto
      margin-left: 10px
      &:before
        position: absolute
        top: 0
        left: -10px
        content: " "
        height: 0
        width: 0
        border-right: 5px solid $color
        border-left: 5px solid transparent
        border-top: 5px solid $color
        border-bottom: 5px solid transparent
    &.right
      margin-left: auto
      margin-right: 10px

      &:before
        position: absolute
        top: 0
        right: -10px
        content: " "
        height: 0
        width: 0
        border-top: 5px solid $color
        border-left: 5px solid $color
        border-right: 5px solid transparent
        border-bottom: 5px solid transparent

  .chatInputWrapper
    border-top: 1px solid #eee
    display: flex
    flex-direction: row
    textarea
      border: none
      width: 100%
      &:focus
        outline: none
    button
      background: white
      border: 1px solid #888888
      padding: 8px
      margin: 8px
      cursor : pointer
