*
  font-family: 'Lato', sans-serif


.hide
  display: none

.no-border
  border: none

.no-focus
  &:focus
    outline: none

.full-height
  height : 100vh
  overflow-x:  hidden
  overflow-y : auto

.col1
  color: #34757d

.bg-col1
  background-color:  #34757d

.bg-col2
  background-color:  #3498db

.active
  background:  white
  color:  #0d575d

#sidebar
  background: linear-gradient(#2980b9, #2980b9)
  overflow-y: auto
  ul
    padding-left: 0px
  li
    padding: 8px 0px 8px 40px

    &:hover:not(.active)
      @extend .bg-col2
      transition:  0.4s
      cursor:  pointer
  .section-divider
    font-size: 0.75em
    border-bottom: 1px solid #aaa
    width: 100%
    text-align: right
    margin-left: auto
    padding-right: 8px

#mainbar
  overflow-y: scroll
  header
    box-shadow: 1px 1px 1px #ccc


//Todo
#cards
  //height: 80%
  .card
    width: 33%
    padding: 8px 16px
    margin: 8px 16px
    //box-shadow: 3px 3px 3px #888

    &.low
      border: 2px solid #ff524a
      border-top: 6px solid #ff524a


    &.mid
      border: 2px solid #ffd23e
      border-top: 6px solid #ffd23e


    &.high
      border: 2px solid #228060
      border-top: 6px solid #228060


    > div
      max-heigh: 80vh
      > div
        //border-bottom: 1px solid #888
        padding: 16px 8px
        margin: 16px 0px
        box-shadow: 1px 1px 3px #888

        &:hover
          cursor: pointer
          box-shadow: 3px 3px 3px #888

        > div:first-child
          font-size: 0.75em
          font-weight: bolder

.checker
  border: 1px solid black
  border-radius: 2px
  padding: 4px 8px
  cursor: pointer

  input[type=radio]
    display: none
  &.selected
    border: none
    box-shadow: 3px 3px 3px inset #000
    background: teal
    color: white

.invisible
//visibility: hidden

//Chat
#chatscreen
  $color: teal
  .chatMessage
    background: $color
    color: white
    display: inline-block
    padding: 5px
    margin: 5px
    max-width: 60%
    //word-break: break-all
    //align-self: right
    position: relative

    &.left
      margin-right: auto
      margin-left: 10px
      &:before
        position: absolute
        top: 0
        left: -10px
        content: " "
        height: 0
        width: 0
        border-right: 5px solid $color
        border-left: 5px solid transparent
        border-top: 5px solid $color
        border-bottom: 5px solid transparent
    &.right
      margin-left: auto
      margin-right: 10px

      &:before
        position: absolute
        top: 0
        right: -10px
        content: " "
        height: 0
        width: 0
        border-top: 5px solid $color
        border-left: 5px solid $color
        border-right: 5px solid transparent
        border-bottom: 5px solid transparent

  .chatInputWrapper
    border-top: 1px solid #eee
    display: flex
    flex-direction: row
    textarea
      border: none
      width: 100%
      &:focus
        outline: none
    button
      background: white
      border: 1px solid #888888
      padding: 8px
      margin: 8px
      cursor : pointer




//Scrollbar
#sidebar::-webkit-scrollbar
  width: 0px

#sidebar:hover::-webkit-scrollbar
  background:  rgba(0,0,0,0.1)
  width:  8px

#sidebar::-webkit-scrollbar-thumb
  background:  rgba(0,0,0,0.2)
  border-radius:  4px


#mainbar::-webkit-scrollbar
  background:  rgba(0,0,0,0.1)
  width:  8px
#mainbar::-webkit-scrollbar-thumb
  background:  rgba(0,0,0,0.2)
  border-radius:  4px



//Modal content
.modal
  position: fixed
  display: flex
  z-index: 999
  align-items: flex-start
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background: rgba(0,0,0,0.7)

  .modal-content
    position: relative
    background-color: white

    .close
      position: absolute
      top: 0
      right: 0
      padding: 8px
      font-size: 1.5em

      &:hover
        color: teal
        cursor: pointer

.hide
  display: none

progress-bar
  width: 100%
  display: block
  background: #d6d6d6
  position: relative

  bar
    display: block
    height: 30px
    color: white
    line-height: 30px
    text-align: center
    @extend .bg-col2

#employee-performance
  .card
    box-shadow: 4px 4px 4px 4px #eee
    border-top: 2px solid  #3498db