

.modal
  position: fixed
  display: flex
  z-index: 999
  align-items: flex-start
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background: rgba(0,0,0,0.7)


.modal-content
  position: relative
  background-color: white
  .close
    position: absolute
    top: 0
    right: 0
    padding: 8px
    font-size: 1.5em
    &:hover
      color: teal
      cursor: pointer
